[Unit]
Description=Killing Floor 2 Dedicated Server

[Service]
StandardOutput=null
ExecStart=%h/Steam/steamapps/common/killingfloor2/Binaries/Win64/KFGameSteamServer.bin.x86_64

[Install]
WantedBy=multi-user.target
